* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

html,
body {
	height: 100%;
}

.el-tabs__item.is-active {
	color: red;
}
.el-button{
	color:red;
	font-size:16px;
	/*background-color: #42B983;*/
}
